/* Tampilan Menu Link dan Tombol */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Warna latar belakang yang lebih terang */
    color: #333; /* Warna teks yang lebih gelap */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ddd; /* Warna latar belakang menu */
    border-right: 1px solid #ccc;
    height: 100vh;
    overflow-y: auto;
}

li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #444; /* Warna teks pada menu */
    transition: all 0.3s ease;
}

li a:hover {
    background-color: #ccc; /* Warna latar belakang saat dihover */
    color: #222; /* Warna teks saat dihover */
}

li a.active {
    background-color: #ac0000;
    color: #fff;
}

/* Tombol */
input[type="submit"] {
    padding: 10px 15px;
    margin-right: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #0056b3;
}

input[type="text"],
input[type="submit"] {
    padding: 10px 15px;
    margin-right: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #eee; /* Warna latar belakang input */
    color: #333; /* Warna teks pada input */
}

/* Padding untuk sel td */
td {
    padding: 10px;
}

/* Margin antara form */
form {
    margin-bottom: 5px;
}

/* Vertically align */
table td,
table td * {
    vertical-align: top;
}

/* Tampilan dengan latar belakang terang */
/* Tambahkan efek shadow untuk fokus */
input[type="text"]:focus {
    background-color: #fff; /* Warna latar belakang input saat fokus */
    border: 1px solid #888;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Efek bayangan saat fokus */
}
